body {
  margin: 0;
  padding: 0;
}

.head { 
  background: orange;
  padding: 60px;
  color: white;
  border-color: solid orange;
}

.head h3 {
  font-size: x-large;
}

.coinTable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.coinTable .topOfTable {
  padding-top: 20px;
}

.coinTable .bottomOfTable {
  padding-top: 50px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(240, 237, 237);
  width: 500px;
}

tr {
  border-bottom: 2px solid rgb(240, 237, 237);
}

th {
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: small;
}

td {
  padding: 10px;
  font-size: small;
  text-transform: uppercase;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 18px;
}

.info {
  background: rgb(238, 238, 238);
  width: 250px;  
  height: 320px;
  border: 2px solid rgb(238, 238, 238);
}

.title {
  padding-left: 22px;
  text-transform: uppercase;
}

.info p {
  padding-left: 22px;
  font-weight: bold ;
  font-size: small;
}

.favourite {
  padding-left: 22px;
  padding-top: 5px;
  color: rgb(56, 163, 250);
}

form {
  width: 250px;
  align-items: center;
  height: 320px;
  border: 2px solid rgb(238, 238, 238);
}

.buy {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buy button {
  background: white;
  border: 1px solid orange;
  color: orange;
  padding: 10px;
  width: 82px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.buy button:focus {
  background: orange;
  color: white;
}

.selector {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

select {
  width: 180px;
  margin-left: 35px;
  border-bottom: 2px solid rgb(240, 237, 237);
  border-top: white;
  border-left: white;
  border-right: white;
  padding-top: 5px;
}

.bottomSelector {
  padding-top: 20px;
}

.formButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.formButton button {
  padding: 10px;
  margin-top: 20px;
  width: 180px;
  border: 0;
  background: orange;
  color: white;
  font-size: x-small;
  height: 40px;
}

.receipt {
  font-size: x-small;
  color: green;
  text-align: center;
  margin-top: 10px;
}

.faveButtons {
  background: orange;
  border: 1px solid white;
  color: white;
  padding: 18px;
  width: 125px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 10px;
}

.faveButtons:hover {
  background: rgba(0, 0, 0, 0.349);
  border: 0;
  color: white;
  padding: 18px;
  width: 125px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 10px;
  content: 'REMOVE';
}

table:hover {
  cursor: pointer;
}